<html>
<head>
<title>tv ni mang tomas</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <h1>Layout</h1>
  <h2><%= yield %></h2>
  <h1>End Layout</h1>
</body>
</html>
